* {
     font-family: "JetBrainsMono Nerd Font", monospace;
     font-size: 14px;
     font-weight: normal;
}

window {
     background: transparent;
     color: white;
}

.modules-left {
    padding-left: 10px;
}

.modules-right {
    padding-right: 10px;
}

tooltip {
  background: black;
  border: 1px solid gray;
}

tooltip label {
  color: white;
}

#cpu, #memory, #memory-swap, #battery, #custom-gpu, #backlight, #custom-keyboard {
     padding-right: 5px;
}

#clock, #wireplumber, #wireplumber-mic, #network, #bluetooth, #tray {
    padding-left: 5px;
}

#language {
    font-family: "Noto Color Emoji 10";
}

#workspaces button {
    color: white;
    border: 0;
    border-radius: 0;
    border-top: 2px solid transparent;
    padding: 2px 6px;
    margin: 0;
    min-height: 0;
}

#workspaces button.active {
    border-top-color: white;
}

#workspaces button.urgent {
    border-top-color: red;
}

#workspaces button:hover {
    border-top-color: #00ff00;
}


